/*导入全局样式*/
@import "/drake.css";
/*@tailwind base;*/
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    color: #454d64;
    font-size: 15px
  }
  blockquote,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  figure,
  p,
  pre{
    color: #454d64;
  }
  img{
    width: 100%;
  }
  @font-face {
    font-family: MyFont;
    src: url('/FZDouNTJ_Cu.OTF');
  }
}
